.leaflet-control-multi-measure {
  background-color: #fff;
  cursor: grab;

  .measure-hidden {
    display: none !important;
  }

  .leaflet-measure-menu-icon {
    height: 18px;
    width: 18px;
    fill: black;

    &#close-icon {
      height: 14px;
      width: 14px;
      position: absolute;
      top: 6px;
      right: 6px;
      fill: gray;

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 5px;
  }

  .measure-actions {
    border-top: 1px solid lightgray;

    ul {
      color: blue;
    }
  }

  li.link {
    list-style: none;
    font-size: 14px;
    margin-bottom: 6px;

    &:hover {
      cursor: pointer;
      color: blueviolet;

      .leaflet-measure-menu-icon {
        fill: blueviolet;
      }
    }

    &#save {
      color: green;
    }
  }

  .leaflet-multi-measure-controls {
    padding: 10px 5px;
    width: 175px;

    h3.heading {
      font-size: 18px;
      border-bottom: 1px solid lightgray;
      margin: 0px 8px 10px 9px;
    }

    .measure-start-menu {
      font-size: 20px;
      // border-top: 1px solid lightgray;
      margin: 1px 8px 0px 9px;
    }

    .measure-output {
      padding-left: 10px;

      .measure-title {
        color: gray !important;
        font-size: 13px;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
      }

      .measure-results {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-bottom: 3px;

        &.primary {
          border-bottom: 1px solid lightgray;
          padding-bottom: 3px;
        }

        &.last-point {
          font-size: 12px;
        }

        &.last-point-title {
          font-size: 12px;
          border-bottom: none;
          text-align: start;
          color: gray;
        }
      }
    }

    .measure-actions {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}